 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }
 body{
  background-color: #0d1117;
  font-family: 'Poppins'; 
  height: 100vh;
  width:100vw ;
 }
 .App{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 }
.main{
  color: white;
  width: 450px;
  background-color: #161b22;
  border-radius: 7px;
  padding: 30px ;
  box-shadow:  0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 10px 3px rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.main div h2{
  text-align: center;
}
.main div label{
opacity: 0.5;
}
.main div{
  margin: 20px 0 10px 0;
}

.main div input[type='text'],
.main button{
  width: 100%;
  padding: 7px 10px;
  margin: 10px 0 0px 0;
}
.main div input[type='text']{
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  border: none;
}
.main button{
  margin:  30px 0 10px 0;
  background-color: wheat;
  border: 0px ;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #161b22;
  transition: 0.5s all ease;
}
.main button:hover{
  background-color: #363b42;
  color: wheat;
  cursor: pointer;
}
a{
  color: white;
  opacity: 0.5;
  font-size: 12px;
  font-style: none;
  text-decoration: none;
} 
